<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOW DATA IN TABLE FORMAT</title>
    <style>
        table,th,td{
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>email</th>
        </tr>
        <tr>
            <%for(user of users){%>
                <tr>
                    <td><%=user.id%></td>
                    <td><%=user.username%></td>
                    <td><%=user.email%></td>
                    <td>
                        <form method="GET" action="/user/<%=user.id%>/edit" >
                        <button>Edit Username</button>
                    </form></td>

                    <td><form action="/user/<%=user.id%>/delete">
                        <button>Delete</button>
                    </form></td>

                    
                </tr>
            <%}%>
        </tr>
    </table>
    <form method="GET" action="/user/add">
        <button type="submit">Add New User</button>
    </form>
    
</body>
</html>


